html:root {
    color-scheme: light;
    /* 窗体的背景颜色 */
    background-color: rgb(238, 238, 238);
    /* 右侧页面的背景，比较亮的颜色 */
    --bg: rgb(255, 255, 255);
    /* 填充颜色，比背景暗一点，一般用于内容展示 */
    --fill: rgba(242, 241, 241, 0.716);
    /* svg 图标的填充色 */
    --svg-fill: rgb(255, 255, 255);
    --svg-stroke: rgb(82, 82, 82);
    --svg-fill-hover: var(--el-color-primary);
    --svg-stroke-hover: rgb(82, 82, 82);
    /* 窗体左侧按钮中间的那条线 */
    --line: rgba(253, 253, 253, 0.768);
    /* 配置页的选项条目所使用的颜色 */
    --item: rgb(239, 239, 239);
    --item-hover: rgb(212, 212, 212);
    /* 五星武器的底色 */
}
html.dark {
    color-scheme: dark;
    background-color: #1d1d1d;
    --bg: rgb(17, 17, 17);
    --fill: rgba(34, 34, 34, 0.708);
    --svg-fill: rgb(14, 14, 14);
    --svg-stroke: rgb(211, 204, 204);
    --svg-fill-hover: var(--el-color-primary);
    --svg-stroke-hover: rgb(240, 240, 240);
    --line: rgba(36, 36, 36, 0.782);
    --item: rgb(33, 33, 33);
    --item-hover: rgb(45, 45, 45);
}
