html > * {
    user-select: none;
}
html:root {
    color-scheme: light;
    /* 窗体的背景颜色 */
    background-color: rgb(238, 238, 238);
    /* 右侧页面的背景，比较亮的颜色 */
    --bg: rgb(255, 255, 255);
    /* 填充颜色，比背景暗一点，一般用于内容展示 */
    --fill: rgba(243, 243, 243, 0.771);
    /* svg 图标的填充色 */
    --svg-fill: rgb(255, 255, 255);
    --svg-stroke: rgb(82, 82, 82);
    --svg-fill-hover: var(--el-color-primary);
    --svg-stroke-hover: rgb(82, 82, 82);
    /* 窗体左侧按钮中间的那条线 */
    --line: rgba(253, 253, 253, 0.768);
    /* 配置页的选项条目所使用的颜色 */
    --item: rgba(239, 239, 239, 0.892);
    --item-hover: rgba(223, 223, 223, 0.763);
    /* Gacha 页进度条背景 */
    --gacha-prog-bg: rgb(211, 211, 211);
    /* 祈愿物品的进度条颜色 */
    --gacha-item-prog-bg-3: #557de1;
    --gacha-item-prog-bg-4: #8f62d4;
    --gacha-item-prog-bg-5: #da8d4a;
    --gacha-item-prog-in-3: #70bff3;
    --gacha-item-prog-in-4: #d9a2e7de;
    --gacha-item-prog-in-5: #ffd52c;
    /* 祈愿物品的文字颜色与对应背景色 */
    --gacha-item-text-3: #fdfeff;
    --gacha-item-text-4: #fff2fa;
    --gacha-item-text-5: #fffdf5;
    --gacha-item-bg-5: #f1a129;
    --gacha-item-bg-4: #ac74ff;
    --gacha-item-bg-3: #5ba8d6;
}
html.dark {
    color-scheme: dark;
    background-color: #1d1d1d;
    --bg: rgb(17, 17, 17);
    --fill: rgba(34, 34, 34, 0.708);
    --svg-fill: rgb(14, 14, 14);
    --svg-stroke: rgb(211, 204, 204);
    --svg-fill-hover: var(--el-color-primary);
    --svg-stroke-hover: rgb(240, 240, 240);
    --line: rgba(36, 36, 36, 0.782);
    --item: rgb(33, 33, 33);
    --item-hover: rgb(45, 45, 45);
    /* Gacha 页进度条背景 */
    --gacha-prog-bg: rgb(60, 60, 60);
    /* 祈愿物品的进度条颜色 */
    --gacha-item-prog-bg-3: #557de1;
    --gacha-item-prog-bg-4: #825bbd;
    --gacha-item-prog-bg-5: #9b691d;
    --gacha-item-prog-in-3: #63a5d1;
    --gacha-item-prog-in-4: #ce96dbde;
    --gacha-item-prog-in-5: #e3c139;
    /* 祈愿物品的文字颜色与对应背景色 */
    --gacha-item-text-3: #fdfeff;
    --gacha-item-text-4: #fff2fa;
    --gacha-item-text-5: #fffdf5;
    --gacha-item-bg-5: #ca841c;
    --gacha-item-bg-4: #8d6cbf;
    --gacha-item-bg-3: #4b8cb1;
}
